
/* 
https://lab.marconoris.com
The objective is to create a minimal and light navigation of an Obsidian Publish website focused on reading
*/


#toggle-sidebar-btn {
    margin: 0px;
    width: 30px;
    background: none;
    padding: 5px;
    position: fixed;
    right: 350px;
    top:5px;
    background: none;
    border-radius: 50%;
    background: var(--background-primary);
    opacity: .8;
}
.theme-dark #toggle-sidebar-btn {
    top: 25px;
}
.theme-dark .site-body:has(.header-visible) #toggle-sidebar-btn {
    top: 5px;
}
#toggle-sidebar-btn:hover {
cursor: pointer;
}
.sliding-windows .site-body:has(.header-visible) #toggle-sidebar-btn {
    right: 5px;
}
.published-container.has-navigation .site-header.header-visible {
    display: block;
    position: fixed;
    top: 0;
    height: 40px;
}
.theme-dark.sliding-windows:has(.header-visible) .publish-renderer,
.theme-dark.sliding-windows:has(.header-visible) .render-container,
body.theme-dark:has(.header-visible)  {
    background-color: #131414!important;
}
.site-body:has(.header-visible) .site-body-center-column {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}
.site-body:has(.header-visible) .markdown-preview-view {
    font-size: 18px;
}
.sliding-windows .site-body:has(.header-visible) .site-body-center-column, .sliding-windows .published-container.has-graph .site-body:has(.header-visible) .site-body-center-column {
    padding-right: 0;
}
.sliding-windows .site-body:has(.header-visible) .render-container {
    background-color: var(--background-primary);
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    #toggle-sidebar-btn {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    #toggle-sidebar-btn {
        right: 10px;
    }
}
